# Make vim the default editor.
export EDITOR='vim';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

#Lets add some colour to the termnial window
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced

# Set Maven home directory
export M2_HOME=`brew --prefix maven`/libexec

# Give Maven dinner as it is hungry
export MAVEN_OPTS="-Xms2048m -Xmx2048m -XX:PermSize=256m -XX:MaxPermSize=512m"

# Go env settings
export GOPATH="$HOME/dev/go-workspace"
[[ -d "$GOPATH/bin" ]] && export PATH="$GOPATH/bin:$PATH";
