[core]
	autocrlf = input
	ignorecase = false

[color]
	ui = true

[diff]
    # Use beyond compare as the diff tool
	tool = bc3

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[difftool]
	prompt = false

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 2

[hub]
    protocol = https

[merge]
	tool = bc3

[push]
	default = simple

[user]
	name = Niall McCullagh
	email = niallmccullagh@users.noreply.github.com
[pull]
	rebase = true

[alias]
	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v
	unstage = reset -q HEAD
	discard = checkout --

	uncommit = reset --mixed HEAD~
	amend = commit --amend

    # unstages changes in the index, discards changes in the working directory, and removes any new files.
	nevermind = !git reset --hard HEAD && git clean -d -f

	# Prune remote branches that have been deleted
	prune-remote-branches = remote prune origin

	plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'

    s = status -sb