[core]
        excludesfile = /opt/boxen/config/git/gitignore
	autocrlf = input
	ignorecase = false

[color]
	ui = true

[credential]
        helper = /opt/boxen/bin/boxen-git-credential

[diff]
        # Use beyond compare as the diff tool
	tool = bc3

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[difftool]
	prompt = false

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[hub]
        protocol = https

[merge]
	tool = bc3

[push]
	default = simple

[user]
	name = Niall McCullagh
	email = niall.mccullagh@gmail.com
